.idea
./.idea
.venv
.env
*/.env
*/.env.*
*/.venv
*/node_modules
node_modules
*/.idea
*/.idea/*
*/.vscode
*/.vscode/*
.DS_Store
*/.DS_Storea
# Byte-compiled / optimized / DLL files
__pycache__/
*/__pycache__/

*.py[cod]
*.cpython-310.pyc
app/backend/dependencies/__pycache__/
app/backend/data/__pycache__/

# C extensions
*.so

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt
*.pyc
/app/backend/data/__pycache__
